

.cursoinputs {
    background: #FFFFFF;
/* Grey/Border */

border: 2px solid #E0E0E0;
box-sizing: border-box;
/* Inputs */

box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
border-radius: 6px;

/* Inside Auto Layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 4px 0px;
}

.buttonrevaluar{
    background: linear-gradient(180deg, #0F3F87 0%, #1E3058 100%);
    border-radius: 8px;
    width: 180px;
height: 45px;


}

.labeldise{

    
    padding: 4px 0;
    color: #666;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    
}
.label2{

        display: block;
        margin: 0 0 10px;
        color: rgba(0, 0, 0, 0.719);
        font-size: 14px;
        font-weight: 500 bold;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
      

}

.inputalta{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    color: rgb(0, 0, 0);
    position: static;

    height: 35px;
    left: 0px;
    top: 0px;
    
    /* Surface overlay */
    
    background: rgba(233, 233, 233, 0.144);
    border-radius: 4px 4px 0px 0px;
}
.inputalta:focus {
	border: 1px solid #0075FF;
	outline: none;
	box-shadow: 1px 0px 30px rgba(163,163,163, 0.4);
}

.iconoInput {
    color: #0ab142;
    font-size: 22px;
    position: absolute;
    right: 25px;
    
    padding-top: 5px;}
    .inputPadding {
    padding-right: 40px;}

.botonnet{
    position: absolute;
width: 135px;
height: 35px;

background: linear-gradient(180deg, #0F3F87 0%, #1E3058 100%);
border-radius: 8px;
}
.titulo {
    font-style: normal;
    font-size: 60px;

    /* identical to box height */
    color: #0C0033;
    
}

.altaboton{
  width: 160px;
  height: 40px;
  background: linear-gradient(180deg, #0F3F87 0%, #1E3058 100%);
  border-radius: 8px;
}
/*boton descarga lista*/
/* 5 */
.custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 25px;
    text-align: center;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    
    outline: none;
  }
.btn-5 {
    width: 120px;
    height: 28px;
    line-height: 30px;
    padding: 0;
    border: none;
    background: rgb(255, 255, 255);
  }
  .btn-5:hover {
    color: #08075f;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #140264;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }

 /*boton confirmación detalle curso*/
  
 .circular-button,
 .circular-checkbox label {
   border: none;
   border-radius: 50%;
   cursor: pointer;
   display: block;
   height: 2.5em;
   margin: 1.2em;
   position: relative;
   text-indent: -9999px;
   width: 2.5em;
 }
 
 .circular-button.small,
 .circular-checkbox.small label {
   height: 1.5em;
   width: 1.5em;
 }
  
 .circular-button:hover:before,
 .circular-checkbox label:hover:before {
   -ms-transform: scale(1.15);
   -webkit-transform: scale(1.15);
   transform: scale(1.15);
   transition: all 1.5s ease;
 }
 
 .circular-button:active:before,
 .circular-checkbox label:active:before,
 .circular-checkbox input[type='checkbox']:checked + label:before {
   -ms-transform: scale(1.05);
   -webkit-transform: scale(1.05);
   transform: scale(1.05);
   transition: all 0.5s ease;
 }
 
 .circular-button:after,
 .circular-checkbox label:after {
   color: white;
   content: "";
   display: inline-block;
   font: normal normal normal 14px/1 FontAwesome;
   font-size: 1.5em;
   margin-top: -0.5em;
   position: absolute;
   top: 50%;
   left: 0%;
   text-align: center;
   text-indent: 0px;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transform: translate(0, 0);
   transition: all 0.5s ease;
   -ms-transform: scale(1);
   -webkit-transform: scale(1);
   transform: scale(1);
   width: 100%;
 }
 
 .circular-button.small:after,
 .circular-checkbox.small label:after {
   font-size: 1.2em;
 }
 
 .circular-button:active:after,
 .circular-checkbox label:active:after {
   -ms-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
   transition: all 1s ease;
 }
 
 .check:after,
 .circular-checkbox input[type="checkbox"]:checked + label:after {
   content: "\f00c";
 }
 
 .right:after {
   content: "\f017";
 }
 
 .declin:after {
  content: "\f00d";
}

 .facebook:after {
   content: "\f09a";
 }
 
 .twitter:after {
   content: "\f099";
 }
 
 .circular-checkbox label:after {
   content: "\f00d";
 }
 
 .green,
 .circular-checkbox input:checked + label {
   background: #8CC63F;
 }
 
 .green:active {
   background: #007932;
 }
 
 .circular-button.green:before,
 .circular-checkbox input[type='checkbox']:checked ~ label:before {
   border-color: #8CC63F;
 }
 
 .circular-button.green:active:before {
   border-color: #007932;
 }
 
 .transition {
   transition: all 0.4s ease;
 }
 
 .circular-checkbox input[type='checkbox'] {
   display: none;
 }

 
 .pend,
 .circular-checkbox input:checked + label {
   background: #f0bd17;
   
 }

 .pend1,
 .circular-checkbox input:checked + label {
   background: #9b0000;
   
 }


/*diseño de modal enviar corre*/
.modal1 {
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 4px;
  padding: 105px 38px 20px 38px;
  text-align: center;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
}

.modal2 {
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 4px;
  padding: 105px 38px 20px 38px;
  text-align: center;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
}

.points {
  color: gray;
  font-size: 18px;
}

#close-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 11px;
  height: 11px;
  stroke: black;
  cursor: pointer;
}

#success-icon {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 50%;
  margin-left: -55px;
  top: -5%;
  background-color: rgb(15, 79, 139);
  border-radius: 50%;
  box-sizing: border-box;
  border: solid 5px white;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}

.img-circle1{
  margin-top: 25px;
  width: 70px;
  height: 70px;

}
.modaltitle{
  font-size: 28px;
}

/*diseño de radiobutton aceptar*/

/*
 * Switcher Styles
 */

 .switcher {
  display: inline-block;
  height: 34px;
  margin-top:3px;
  padding: 4px;
  background: #fff;
  border-radius: 2px;
  width: 205px;
  border-radius: 30px;
  border: solid 1px #ddd;
  position: relative;
}

.switcher__input {
  display: none;
}

.switcher__label {
  float: left;
  width: 50%;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  text-align: center;
  cursor: pointer;  
  position: inherit;
  z-index: 10;
  transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__toggle {
  position: absolute;
  float: left;
  height: 30px;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
  background-color: #054d88;
  border-radius: 30px;
  left: 5px;
  top: 1px;
  transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  will-change: transform;
}

.switcher__input:checked + .switcher__label {
  color: #fff;
  text-align: center;
}

.switcher__input--yang:checked ~ .switcher__toggle {
  left: 95px;
}


/*diseño de información personal perfil insperctor tabs*/

.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
  font-size: 16px;
}
.tabbable-line > .nav-tabs > li > a > i  {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid rgb(29, 58, 224);
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #020125;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
