.spandis{
  background-color: #55c27f;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 40px;
  color: #fff;
  
}

.sinexisten{
  background-color: #c25c55;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 40px;
  color: #fff;
}
